<header>
  <h1>ToDoList </h1>
  <form action="/add" id="new-task-form" method="POST">
    <input
      type="text"
      name="todo"
      id="new-task-input"
      placeholder="Add Todo..."
    />
    <input type="submit" value="Add todo" id="new-task-submit" />
  </form>
</header>

<main>
  <section class="task-list">
    <h2>ToDos</h2>

    <div id="tasks">
      {{#each todos}}
        <form method="POST">
          {{#if done}}
          <div class="task" style="background-color: gray;">
          {{else}}
          <div class="task" >
             <button class="done" formaction="/mark">    </button>
          {{/if}}  
            <div id="content">
              <p class="marquee">
              <input
                name="nameInput"
                type="text"
                class="text"
                value="{{name}}"
                readonly
                formaction="/mark"
              />
              </p>
            </div>
             <button class="delete" formaction="/delete">     </button>
          </div>
        </form>

      {{/each}}

    </div>

  </section>
</main>

<script src="/scripts/script.js"></script>