<header>
  <h1>ToDoList </h1>
  <form id="new-task-form" method="POST">
    <input
      type="text"
      name="todo"
      id="new-task-input"
      placeholder="Add Todo..."
    />
    <input type="submit" value="Add todo" id="new-task-submit" />
  </form>
</header>

<main>
  <section class="task-list">
    <h2>ToDos</h2>

    <div id="tasks">
      {{#each todos}}
        <div class="task">
          <div id="content">
            <input type="text" class="text" value="{{name}}" />
          </div>
          <div class="actions">
            <button class="edit">Edit</button>
            <button class="delete">Delete</button>
          </div>
        </div>
      {{/each}}

    </div>
  </section>
</main>

<script src="/scripts/script.js"></script>